@charset "utf-8";
/* 공통 */
#wrap_main {background:#fff;}
#wrap_main #sky_menu {margin:0 0 0 660px;}
#wrap_main .ssize#sky_menu {margin:-222px 0 0 660px;}
h2.hidden {display:none;}
.mwrap {overflow:hidden;min-width:1200px;  width:1200px; margin:0 auto;}
/* //공통 */


/* 프로모션 */
.main_promotion_wrap {width:100% !important; height:420px; z-index:0;}
.main_promotion {position:relative; min-width:1200px; width:1200px; height:420px; margin:0 auto; padding-top:30px;}
.main_promotion .mp_list {float:left; width:20%; list-style:none; text-align:center;}
	/* thumb 사진 */
.main_promotion .mp_list .thumb {display:table; width:100%; height:220px; margin:50px 0 0; line-height:0; text-align:center;}
.main_promotion .mp_list .thumb span {display:table-cell; vertical-align:middle;}
.main_promotion .mp_list .thumb a {display:inline-block; position:relative;}
.main_promotion .mp_list .thumb a img {max-width:180px; max-height:220px; margin:0 auto; transition:all .1s;}
.main_promotion .mp_list .thumb a:hover img {opacity:0.7; transition:all .1s;}
.main_promotion .mp_list .thumb a i {display:block; position:absolute; top:0; left:0; width:32px; height:42px; z-index:10;}
	/* 제목 */
.main_promotion .mp_list .txt {margin:15px 0 0px; padding:0 25px;}
.main_promotion .mp_list .txt a {font-size:14px; line-height:140%; font-weight:600; text-decoration:none;}
.main_promotion .mp_list .txt a:hover {opacity:0.7;}
	/* 가격 */
.main_promotion .mp_list .txt p {margin:0 0 10px; font-size:13px; line-height:140%;}
.main_promotion .mp_list .txt p strong {font-size:14px; color:#333; vertical-align:top;}
.main_promotion .mp_list .txt p strong span {display:inline-block; margin:0 0 0 3px; color:#333; font-weight:400; vertical-align:top;}
.main_promotion .mp_list .txt p span {font-size:12px; vertical-align:top;}

.main_promotion .btn_promotion_next {position:absolute; top:50%; right:50%; width:27px; height:45px; margin:-23px -640px 0 0; padding:25px; background:url(btn_next.png) center no-repeat; opacity:0.4; text-indent:-99999px; z-index:10; transition:all .1s;}
.main_promotion .btn_promotion_prev {position:absolute; top:50%; left:50%; width:27px; height:45px;  margin:-23px 0 0 -640px; padding:25px; background:url(btn_prev.png) center no-repeat; opacity:0.4; text-indent:-99999px; z-index:10; transition:all .1s;}
.main_promotion .btn_promotion_next:hover {opacity:1; transition:all .1s;}
.main_promotion .btn_promotion_prev:hover {opacity:1; transition:all .1s;}
/* //프로모션 */


/* 새로나온 제품 */
.main_new_area {overflow:hidden;min-width:1200px;  width:1200px; margin:20px auto 0;}
.main_new_tab {padding:18px 0; border-bottom:1px solid #eaeaea;}
.main_new_tab a {margin:0 0 0 25px; font-size:21px; color:#777; text-decoration:none;}
.main_new_tab a:hover {color:#000; font-weight:600;}
.main_new_tab a.active {color:#000; font-weight:600;}

.main_new_tabs {overflow:hidden; width:480px; margin:25px auto 10px;}
.main_new_tabs a {float:left; min-width:120px; margin:0; padding:4px 15px 6px; background:#fff; border:1px solid #eaeaea; font-size:13px; font-weight:600; color:#333; line-height:160%; text-decoration:none; text-align:center;}
.main_new_tabs a:hover {background:#fafafa !important; color:#000;}
.main_new_tabs a.active {background:#99072b !important; border:1px solid #99072b !important; color:#fff;}
.main_new_tabs a:nth-child(1) {-moz-border-radius:50px 0 0 50px; -khtml-border-radius:50px 0 0 50px; -webkit-border-radius:50px 0 0 50px; border-radius:50px 0 0 50px;}
.main_new_tabs a:nth-child(2) {border-right:0; border-left:0;}
.main_new_tabs a:nth-child(3) {border-right:0; border-left:0;}
.main_new_tabs a:nth-child(4) {-moz-border-radius:0 50px 50px 0; -khtml-border-radius:0 50px 50px 0; -webkit-border-radius:0 50px 50px 0; border-radius:0 50px 50px 0;}

.main_new_area .new_book {position:relative;}
.new_book .new_book_list {margin:20px 0;}
.new_book .new_book_list ul {min-width:1200px; width:1200px; margin:0 auto;}
.new_book .new_book_list li {float:left; width:20%; list-style:none; text-align:center; margin-bottom:50px;}
.new_book .new_book_list li .thumb {display:table; width:100%; height:250px; padding:15px 0; line-height:0; text-align:center; transition:all .1s;}
.new_book .new_book_list li:hover .thumb {background:#f9f9f9; transition:all .1s; opacity:0.7;}
.new_book .new_book_list li .thumb span {display:table-cell; vertical-align:middle;}
.new_book .new_book_list li .thumb a {display:inline-block; position:relative;}
.new_book .new_book_list li .thumb a img {max-width:180px; max-height:220px; margin:0 auto; border:1px solid #eaeaea;}
.new_book .new_book_list li .txt {margin:15px 0 0; padding:0 25px;}
.new_book .new_book_list li .txt a {font-size:13px; color:#333; text-decoration:none;}
.new_book .new_book_list li .txt a strong {font-weight:400;}
.new_book .new_book_list li .txt a:hover {opacity:0.7;}
.new_book .new_book_list li .txt p {margin:0 0 10px; font-size:13px; color:#333; line-height:140%;}
.new_book .new_book_list li .txt p strong {font-size:14px; color:#333; vertical-align:top;}
.new_book .new_book_list li .txt p strong span {display:inline-block; margin:0 0 0 3px; color:#333; font-weight:400; vertical-align:top;}
.new_book .new_book_list li .txt p span {font-size:12px; color:#99072b; vertical-align:top;}

.main_new_area .new_scred {position:relative;}
.new_scred .new_scred_list {margin:20px 0;}
.new_scred .new_scred_list ul {width:1200px; margin:0 auto; }
.new_scred .new_scred_list li {float:left; width:20%; list-style:none; text-align:center; height:350px;}/*  li 에 height 추가해서 정렬 */
.new_scred .new_scred_list li .thumb {display:table; width:100%; padding:25px 0; line-height:0; text-align:center; transition:all .1s;}
.new_scred .new_scred_list li:hover .thumb {background:#f9f9f9; transition:all .1s; opacity:0.7;}
.new_scred .new_scred_list li .thumb span {display:table-cell; vertical-align:middle;}
.new_scred .new_scred_list li .thumb a {display:inline-block; position:relative;}
.new_scred .new_scred_list li .thumb a img {width:auto; height:180px; margin:0 auto; border:1px solid #eaeaea;}

.new_scred .new_scred_list li .txt {margin:10px 0 0; padding:0 25px;}
.new_scred .new_scred_list li .txt a {font-size:13px; color:#333; text-decoration:none;}
.new_scred .new_scred_list li .txt a strong {font-weight:400;}
.new_scred .new_scred_list li .txt a:hover {opacity:0.6;}
.new_scred .new_scred_list li .txt p {margin:0 0 10px; font-size:13px; color:#333; line-height:30px;}
.new_scred .new_scred_list li .txt p strong {font-size:14px; color:#333; vertical-align:top;}
.new_scred .new_scred_list li .txt p strong span {display:inline-block; margin:0 0 0 3px; color:#333; font-weight:400; vertical-align:top;}
.new_scred .new_scred_list li .txt p span {font-size:12px; color:#99072b; vertical-align:top;}

.main_new_list .more {position:absolute; top:-74px; right:10px;}
.main_new_list .more a {font-size:11px; color:#777; text-decoration:none; transition:all .1s;}
.main_new_list .more a:hover {text-decoration:underline; transition:all .1s;}
.main_new_list .more span {padding:0 0 2px 3px; font-size:8px; font-weight:400; color:#999; vertical-align:middle;}
/* //새로나온 제품 */
