@charset "utf-8";

/* ----------------- 공통 ----------------- */
a {
	text-decoration :none;
}
/* 레이아웃 */
body {background:#fff;}
#header_member {position:relative; width:100%; height:100px; min-width:1200px; border-bottom:1px solid #dfdfdf; z-index:0;}
#container_member {position:relative; overflow:hidden; width:960px; margin:40px auto 0; z-index:0;}
#container_member .contants_area {float:inherit; width:960px; margin:40px auto 60px;}
#container_member .contants_area .sumbold {font-size:18px; font-weight:600; text-align:center;}
#container_member .contants_area h3 {margin:0; padding:0 0 10px 10px; font-size:16px; font-weight:600;}
#container_member .contants_area .txt {font-size:13px; line-height:170%;}
#container_member .contants_area .txt a {text-decoration:none;}
#container_member .contants_area .txt a:hover {text-decoration:underline;}
#container_member .contants_area .txt strong {font-weight:600;}
#container_member .btn_g {color:#000; border:1px solid #dfdfdf;}
#container_member .btn_g:hover {border:1px solid #aaa; text-decoration:none;}
#container_member .member_wrap {margin:20px auto 0;}
#container_member .member_wrap.noborder {border-left:0; border-right:0; border-bottom:0;}
#container_member .member_wrap.top {margin:0 auto;}
#container_member .member_wrap .input_box li span {font-size:13px;}
#container_member .input_box {margin:0; padding:40px;}
#container_member .input_box .tit {margin:17px 0 0 10px;}
#container_member .input_box .i_inputs {padding:0 0 0 200px;}
#container_member .input_box .i_input_txt {padding:0 0 0 200px;}
#container_member .input_box .confirm_box {margin:4px 0 4px 200px;}
#container_member .input_box .confirm_box input {background:#fff;}

.member_info_txt li {padding:0 0 5px 20px; background:url(/common/images/bl_b.png) 10px 11px no-repeat; list-style:none; font-size:13px; line-height:170%;}
/* //레이아웃 */




/* 타이틀 */
#container_member h2 {display:block; padding:0 0 15px 10px; border-bottom:1px solid #dfdfdf; font-size:30px; font-weight:600;}
#container_member .history_menu {left:inherit; right:0; margin:0; padding:0; height:inherit;}
#container_member .history_menu li {position:relative; float:left; margin:5px 0 0 36px; font-size:12px; color:#222; line-height:230%; list-style:none; cursor:inherit;}
#container_member .history_menu li div {margin:5px; padding:0; background:none; border:0; line-height:160%;}
#container_member .history_menu li div strong {font-weight:normal;}
#container_member .history_menu li div span {position:absolute; top:8px; right:-24px; width:8px; height:12px; background:url(icon_history_arrow.png) no-repeat; text-indent:-99999px;}
#container_member .history_menu li:hover div {border:0;}
#container_member .history_menu li:hover i {border-top:0;}
/* //타이틀 */

/* 버튼 */
#container_member .btn_White {padding:6px 25px 8px !important; background:#fff; border:1px solid #aaa; font-size:13px; color:#333; line-height:160%; transition:all .1s;}
#container_member .btn_White:hover {background:#555; border:1px solid #444; color:#fff; transition:all .1s;}
#container_member .btn_Gray {padding:6px 25px 8px !important; background:#fafafa; border:1px solid #bbb; font-size:13px; color:#333; line-height:160%; transition:all .1s;}
#container_member .btn_Gray:hover {background:#555; border:1px solid #444; color:#fff; transition:all .1s;}
#container_member .btn_Red {padding:6px 25px 8px !important; background:#99072b; border:1px solid #99072b; font-size:13px; color:#fff; line-height:160%; transition:all .1s;}
#container_member .btn_Red:hover {background:#660010; border:1px solid #660010; transition:all .1s;}
/* //버튼 */

/* ----------------- //공통 ----------------- */

/* ----------------- GNB ----------------- */

/* 로고 */
#header_member h1.logo {position:absolute; top:15px; left:50%; margin-left:-593px;}
#header_member h1.logo a {display:block; width:108px; height:81px; background:url(logo_mini.jpg) no-repeat; text-indent:-99999px;}
/* //로고 */




/* 메뉴 */
#header_member ul {position:absolute; top:32px; right:50%; margin-right:-593px;}
#header_member li {display:inline-block; margin:0 0 0 40px; text-align:right;}
#header_member li a {font-size:17px; font-weight:600; color:#000; text-decoration:none;}
#header_member li a:hover {text-decoration:underline;}
/* //메뉴 */

/* ----------------- //GNB ----------------- */









/* ----------------- 로그인 ----------------- */

/* 로그인 */
#container_member .login_area {display:none; padding: 0 0 10px 0;margin:25px auto 50px; border:1px solid #dfdfdf; text-align:center;}
#container_member .login_area .tab_menu {overflow:hidden;}
#container_member .login_area .tab_menu h3 {float:left; width:50%; font-size:16px; line-height:260%; font-weight:600;}
#container_member .login_area .tab_menu p {float:left; width:50%; font-size:16px; line-height:260%; text-align:center;}
#container_member .login_area .tab_menu a {display:block; background:#efefef; border-bottom:1px solid #dfdfdf; border-left:1px solid #dfdfdf; color:#555; font-weight:400; text-decoration:none;}
#container_member .login_area .tab_menu .right a {border-right:1px solid #dfdfdf;}
#container_member .login_area p.txt {padding-bottom:3px; color:#333;}
#container_member .login_area p.txt strong {font-weight:600;}

#container_member .login_input_area {position:relative; overflow:hidden; width:322px; margin:40px auto 20px; text-align:left;}
#container_member .login_input_area label {display:block;}
#container_member .login_input_area .login_txt input {width:220px; height:40px; margin:0 0 6px; padding:0 15px; border:1px solid #cdcdcd; font-size:12px; color:#777;}
#container_member .login_input_area .login_btn input {position:absolute; top:0; right:0; width:96px; height:86px; background:#99072b; border:0; -moz-border-radius:3px; -khtml-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; font-size:15px; font-weight:600; color:#fff; transition:all .1s;}
#container_member .login_input_area .login_btn.no_member input {height:132px;}
#container_member .login_input_area .login_btn input:hover {background:#660010; transition:all .1s;}
#container_member .login_input_area .login_check input {width:16px; height:16px; margin:0 3px 0 0; vertical-align:middle;}
#container_member .login_input_area .login_check span {font-size:12px; color:#555;}

#container_member .login_btn_area {overflow:hidden; margin:20px 50px 10px; padding:25px 0; border-top:1px solid #dfdfdf;}
#container_member .login_btn_area a {display:inline-block; padding:2px 20px; border:1px solid #cdcdcd; -moz-border-radius:2px; -khtml-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; font-size:14px; font-weight:600; color:#555; text-decoration:none;}
#container_member .login_btn_area a:hover {border:1px solid #aaa; color:#000;}

#container_member .login_area .join_area {position:relative; width:760px; margin:0 auto; text-align:left;}
#container_member .login_area .join_area .agree_box {position:absolute; top:27px; right:0;}
#container_member .login_area .join_area .agree_box p {font-size:12px; color:#777;}
#container_member .login_area .join_area .agree_box label span {color:#666;}
#container_member .login_area .join_area .agree_box label.active span {color:#99072b;}
#container_member .login_area .join_area .scroll_box h1, #container_member .login_area .join_area .scroll_box h2, #container_member .login_area .join_area .scroll_box h3, #container_member .login_area .join_area .scroll_box p {color:#555;}
/* //로그인 */

/* ----------------- //로그인 ----------------- */

/* ----------------- 회원가입 ----------------- */

/* 약관동의 */
#container_member .join_area {}
#container_member .join_area .tit {width:200px;}
#container_member .join_area strong {font-weight:600;}
#container_member .join_area h4 {display:inline-block; margin:30px 0 7px 12px; font-size:16px; font-weight:600;}
#container_member .join_area .txt {margin:0 0 0 10px;}
#container_member .join_area .scroll_box {overflow-y:scroll; height:135px; padding:20px; border:1px solid #dfdfdf;}
#container_member .join_area .scroll_box h1 {display:block; margin:0; padding:0; background:none; border:0; font-size:13px; color:#333; line-height:170%;}
#container_member .join_area .scroll_box h2 {display:block; margin:0; padding:0; background:none; border:0; font-size:12px; color:#333; line-height:170%;}
#container_member .join_area .scroll_box h3 {display:block; margin:0; padding:0; background:none; border:0; font-size:12px; color:#333; line-height:170%;}
#container_member .join_area .scroll_box p {font-size:12px; color:#333; line-height:170%;}
#container_member .join_area .agree_box {overflow:hidden; margin:2px 0 0; text-align:right;}
#container_member .join_area .agree_box p {display:inline-block; margin:0 10px 0 0; font-size:13px; text-align:left;}
#container_member .join_area .agree_box label {display:inline-block; margin:0 5px; font-size:13px; font-weight:600;}
#container_member .join_area .agree_box label input {vertical-align:middle;}
/* //약관동의 */

/* ----------------- //회원가입 ----------------- */









